.form-group label {
    display: flex;
    /* padding: 5px; */
    margin-left: 2px;
    font-size: 14px !important;
    color: rgb(0, 0, 0);
    font-family: 'Poppins', sans-serif !important;
}

.form-input input {
    width: 100%;
    padding: 8px 8px !important;
    border: 1px solid #d2d2d2;
    border-radius: 5px;
    outline: none !important;
    /* font-family: 'Poppins', sans-serif !important; */
}

::placeholder {
    font-family: 'Poppins', sans-serif !important;
    font-style: Blippo;
    font-size: 14px;
    padding: 5px;
    content: "some other placeholder" !important;
}