.form-group label {
    display: flex;
    padding: 10px;
    font-size: 14px;
    color: rgb(0, 0, 0);
    font-family:serif;
    font-weight: 600;
}

.form-input {
    width: 100%;
    padding: 8px 8px !important;
    /* border: 1px solid #d2d2d2; */
    border-radius: 5px;
    outline: none !important;
    /* height: 15px; */
}



.jewel-option-select-container {
    /* border: 1px solid #000; */
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: flex-start;
    /* margin: 8px 10px; */
}

.jewel-option-select {
    width: 100% !important;
    outline: none !important;
}


.tss-1vsygk-MUIDataTableFilterList-root {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: left !important;
    -ms-flex-pack: left !important;
    -webkit-justify-content: left !important;
    justify-content: left !important;
    -webkit-box-flex-wrap: wrap !important;
    -webkit-flex-wrap: wrap !important;
    -ms-flex-wrap: wrap !important;
    flex-wrap: wrap !important;
    margin: 0px 16px 20px 0px !important;
    column-gap: 10px !important;
}

.important-field {
    color: red;
    font-weight: 600;
    margin-left: 3px;
}

::placeholder {
    font-style: Blippo;
    font-size: 12px;
  
    padding: 5px !important;
    content : "some other placeholder" !important;
  }
  select {
    text-align: center;
    text-align-last: center;
    /* webkit*/
  }
  option {
    text-align: left !important;
    /* reset to left*/
  }
  .select-placeholder-text{ 
    font-size: 13px;
    font-family: 'Poppins', sans-serif !important;
  }
  .css-1dimb5e-singleValue {
    grid-area: 1 / 1 / 2 / 3;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: hsl(0, 0%, 20%);
    margin-left: 10px !important;
    margin-right: 2px;
    box-sizing: border-box;
    font-size: 14px !important;
    /* color: rgb(139, 134, 134); */
    font-style: Blippo;
}